*{
    padding: 10px;
}
body{
    background-color: #f5f5f5;
}
div{
    border: 1px solid white;
    background-color: #fff; 
    padding: 5px;
}

.author{
    text-align: right;
    font-style: italic;
}